/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}


.mid-table{
  position: absolute;
        left: 57.2%;
}


.left-table{
      position: absolute;
      left: 80.2%;
      up:  55%;
}


.table-left{
      position: absolute;
      left: 0.2%;
      up:  55%;
}