<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexus: Error</title>
            <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="/">Connexus</a>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/manage">Manage</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/viewAllStream">ViewAll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/trending">Trending</a></li>
          </ul>
        </div>


        <div id="navbar" class="navbar-collapse navbar-right">
            {% if user  %}
            <p class="navbar-text">Signed in as {{ user.nickname() }}</p> <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% else %}
            <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% endif %}
        </div>
      </div>
    </nav>

    <h1>Oops, an error just happened</h1>
    {{error_msg}}}

</body>
</html>