<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexus: Management</title>

        <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="#">Connexus</a>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
                <li class="active"><a href="/manage">Manage</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/viewAllStream">ViewAll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/trending">Trending</a></li>
          </ul>
        </div>


        <div id="navbar" class="navbar-collapse navbar-right">
            {% if user  %}
            <p class="navbar-text">Signed in as {{ user.nickname() }}</p>
            <!--<a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>-->
            {% else %}
            <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% endif %}
        </div>
      </div>
    </nav>

    <table class="table table-striped" style="position: absolute; top: 100px" align="center">
      <tr>
        <th>Name</th>
        <th>Last New Picture</th>
        <th>Views</th>
        <th> <a href = "/deleteStream/all"> Delete </a> </th>
      </tr>

      {% for row in user_streams%}
        <tr>
          <td width="25%">
            <a href="/viewStream?stream_id={{ row['stream_id'] }}">{{ row['stream_name'] }}</a>
          </td>
          <td width="25%">
            {% if row['last_add'] %}
                {{ row['last_add'] }}
            {% else %}
                -
            {% endif %}
          </td>
          <td width="25%">
                {% if row['last_add'] %}
                    {{ row['views']}}
                {% else %}
                    -
                {% endif %}
          </td>
          <td width="25%">
            <a href="/deleteStream?stream_id={{row['stream_id'] }}"> delete </a>
          </td>
        </tr>
      {% endfor %}
    </table>

    <div class="jumbotron">
        <div class="container">
                Welcome back. This is the management page.
        </div>
    </div>
</body>
</html>