<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexus: Management</title>

        <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script type = "text/javascript">
    $(function(){
        var cache = {};
        var time_record = {};
        $("#autoBox").autocomplete({
            minLength: 1,
            source: function(request, response) {
                var term = request.term;
                if (term in cache) {
                    if (new Date().getTime() - time_record[term] < 3600000) {
                        ret_lst = [];
                        if (cache[term].length > 20) {
                            for (i = 0; i < 20; i++) {
                                ret_lst[ret_lst.length] = cache[term][i];
                            }
                        }
                        else {
                            ret_lst = cache[term];
                        }

                        response(ret_lst);
                        return;
                    }
                }
                $.getJSON('/autoComplete', request, function (data, status, xhr) {
                    if (data.valid) {
                        cache[term] = data.ret_lst;
                        time_record[term] = new Date().getTime();
                        ret_lst = [];
                        if (cache[term].length > 20) {
                            for (i = 0; i < 20; i++) {
                                ret_lst[ret_lst.length] = cache[term][i]
                            }
                        }
                        else {
                            ret_lst = cache[term];
                        }
                        response(ret_lst);
                    }
                });
            }
        });
    });
</script>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="/">Connexus</a>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
                <li class="active"><a href="/manage">Manage</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/viewAllStream">ViewAll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/trending">Trending</a></li>
          </ul>
        </div>


        <div id="navbar" class="navbar-collapse navbar-right">
            {% if user  %}
            <p class="navbar-text">Signed in as {{ user.nickname() }}</p> <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% else %}
            <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% endif %}
        </div>
      </div>
    </nav>


    <div class = "container">
        <form action = "/search/result" method="post">
            <br>
            <br>
            <br>
            <h3 class="text-primary">   Search Streams </h3>
            <h4  class="text-info">   Tips: </h4>
            <ul>
                 <li  class="text-info"> Search by stream name or content </li>
                 <li  class="text-info"> Provide as much as information as you can</li>
            </ul>
            <div>
                <input id = "autoBox" name = "keyWord" size = "40">
            </div>
            <div>
                <p  class="text-info">  search by title or content </p>
                <select name = "type">
                      <option value="title">Search by title</option>
                      <option value="content">Search by content</option>
                </select>
            </div>
            <br>
            <div>
                <input type = "submit" value = "Search Stream">
            </div>
        </form>
    </div>

    <div>
        <table cellpadding="5">
        </table>
    </div>

</body>
</html>