<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>Connexus: Create a stream</title>

    <!--Dropzone CSS-->
    <link href="/css/dropzone.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/jumbotron.css" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/css/bootstrap-image-gallery.css">
    <link rel="stylesheet" href="/css/demo.css">

    <!--File Upload Script-->
    <script src="/js/dropzone.js"></script>


</head>

<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="/">Connexus</a>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/manage">Manage</a></li>
                <li><a href="/create">Create</a></li>
                <li><a href="/viewAllStream">ViewAll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/trending">Trending</a></li>
          </ul>
        </div>


        <div id="navbar" class="navbar-collapse navbar-right">
            {% if user  %}
            <p class="navbar-text">Signed in as {{ user.nickname() }}</p>
            <!--<a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>-->
            {% else %}
            <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% endif %}
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>
    <div>
        <h2> Welcome to {{stream_name}} </h2>
        <p4> Description: {{stream_description}}</p4>
    </div>
    <br>
    <div>
        <a href="{{ subscribe_url }}">  {{ subscribe_option }} </a>
        <a href="/viewStream?geo_view=true&stream_id={{ stream_id }}">Geo View</a>
    </div>
    <div>

{#        <table>#}
{#            <tr>#}
{#                <td align = "center" valign="center">#}
{#                    <a href = "http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg" data-gallery>#}
{#                    <img src="http://www.menucool.com/slider/jsImgSlider/images/image-slider-2.jpg" height = "200" width = "300">#}
{##}
{#                        </a>#}
{##}
{##}
{#                </td>#}
{##}
{#                <td align = "center" valign="center">#}
{#                    <a href = "http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg" data-gallery>#}
{#                    <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg" height = "200" width = "300">#}
{#                    </img>#}
{#                    </a>#}
{#                </td>#}
{#                <td align = "center" valign="center">#}
{#                    <a href = "http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg" data-gallery>#}
{#                    <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg" height = "200" width = "300">#}
{#                    </img>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{##}
{#            <tr>#}
{#                <td align = "center" valign="center">#}
{#                   <a href = "http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg" data-gallery>#}
{#                    <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg" height = "200" width = "300">#}
{#                    </img>#}
{#                    </a>#}
{#                </td>#}
{#            </tr>#}
{#        </table>#}
        <table id = "pictures">
            <tbody>
            {% for i in range(blob_key_lst|length) %}
                {% if i%3 == 0 %}
                <tr>
                {% endif %}
                    <td align = "center" valign="center">
                        <a href = "/view_photo/{{ blob_key_lst[i] }}"  data-gallery>
                            <img src="/view_photo/{{ blob_key_lst[i] }}" height = "200" width = "300">
                                {% if user.user_id() == stream_owner %}
                                    <li align="center"><a href="/stream/delete?photo_Key={{image_id_lst[i]}}&stream_id={{stream_id}}"> delete </a></li>
                                {% endif %}
                             </img>
                        </a>
                    </td>
                {% if i%3 == 2 %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
<br>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "mid-table">
        {% if user.user_id() == stream_owner %}
            <div id="dropzone">
                <!--<form id = "photo_upload" action = "{{upload_url}}" method="POST"-->
                      <!--enctype="multipart/form-data" >-->
                <!--<h4> Add an Image </h4>-->
                    <!--<input type = "hidden" name = "stream_id" value = "{{stream_id}}">-->
                    <!--<label> File Name </label>-->
                    <!--<input type="file" name="photo_file">-->
                    <!--<input type = "hidden" name = "stream_id" value = "{{stream_id}}">-->
                    <!--&lt;!&ndash;<input type="file" name="photo" size="25" />&ndash;&gt;-->
                    <!--<input type="submit" name="submit" value="Submit" />-->
                <!--</form>-->

                <form action="{{ upload_url }}" class="dropzone needsclick dz-clickable" id="myDropzone"
                      method="POST" enctype="multipart/form-data">
                    <input type = "hidden" name = "stream_id" value = "{{ stream_id }}">
                    <input type = "hidden" name = "user_id" value = "{{ user.user_id() }}">
                </form>
                <input type="button" value="Submit" id="submit_button">

            </div>
        {% endif %}
    </div>
    <br>

<script src="/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<script src="js/bootstrap-image-gallery.js"></script>
<script src="js/demo.js"></script>
<script>
    Dropzone.options.myDropzone = {

        autoProcessQueue: false,
      init: function() {
          var submitButton = document.querySelector("#submit_button")
          myDropzone = this;
          submitButton.addEventListener("click", function() {
              myDropzone.options.autoProcessQueue = true;
              myDropzone.processQueue(); // Tell Dropzone to process all queued files.
          });
      }

    };
</script>

</body>
</html>