<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="#">Connexus</a>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/manage">Manage</a></li>
                <li class="active"><a href="/create">Create</a></li>
                <li><a href="/viewall">ViewAll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/trending">Trending</a></li>
          </ul>
        </div>


        <!--<div id="navbar" class="navbar-collapse navbar-right">-->
            <!--{% if user  %}-->
            <!--<p class="navbar-text">Signed in as {{ user.nickname() }}</p>-->
            <!--&lt;!&ndash;<a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>&ndash;&gt;-->
            <!--{% else %}-->
            <!--<a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>-->
            <!--{% endif %}-->
        <!--</div>-->
      </div>
    </nav>

    <table id="streams">
      <tr>
        {% for stream in streams %}
            <td>
              <a href="/viewStream?stream_id={{ stream['stream_id']}}">
              {% if stream.cover_url %}
                  <img src="stream.cover_url"  style="width:128px;height:128px;">  </img>
                   <!--<img src="file:///Users/henry/Desktop/download.jpeg"  style="width:128px;height:128px;">  </img>-->
              {% endif %}
              <p><h3>{{ stream['stream_name'] }}</h3></p>
              </a>
            </td>
        {% endfor %}
      </tr>
    </table>



</body>
</html>