<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexus: Create a stream</title>

            <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom styles for this template -->
    <link href="/css/jumbotron.css" rel="stylesheet">
     <!--<link href="/css/format.css" rel="stylesheet">-->
</head>

<body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          </button>
          <a class="navbar-brand" href="/">Connexus</a>
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/manage">Manage</a></li>
                <li class="active"><a href="/create">Create</a></li>
                <li><a href="/viewAllStream">ViewAll</a></li>
                <li><a href="/search">Search</a></li>
                <li><a href="/trending">Trending</a></li>
          </ul>
        </div>


        <div id="navbar" class="navbar-collapse navbar-right">
            {% if user  %}
            <p class="navbar-text">Signed in as {{ user.nickname() }}</p>
            <!--<a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>-->
            {% else %}
            <a href="{{ url|safe }}" class="btn btn-default navbar-btn">{{ url_linktext }}</a>
            {% endif %}
        </div>
      </div>
    </nav>

    <br>
    <br>
    <br>
    <div>
        <h2> Welcome to {{stream_name}} </h2>
        <p4> Description: {{description}}</p4>
    </div>
    <div>
        <table id = "pictures">
            <tbody>
            {% for i in blob_key_lst|length %}
                {% if i%3 == 0 %}
                <tr>
                {% endif %}
                    <td align = "center" valign="center">
                        <img src = "/view_photo/{{blob_key_lst[i]}}" height = "200" width = "300">
                            {% if user.user_id() == stream_owner %}
                                <li align="center"><a href="/stream/delete?photo_Key={{image_id_lst[i]}}&stream_id={{stream_id}}"> delete </a></li>
                            {% endif %}
                         </img>

                    </td>
                {% if i%3 == 2 %}
                </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>

    </div>
<br>
    {% if user.user_id() == stream_owner %}
        <div>
            <form id = "photo_upload" action = "{{upload_url}}" method="POST"
                  enctype="multipart/form-data" >
            <h4> Add an Image </h4>
                <input type = "hidden" name = "stream_id" value = "{{stream_id}}">
                <label> File Name </label>
                <input type="file" name="photo_file">
                <input type="text" name = "description"/>
                <!--<input type="file" name="photo" size="25" />-->
                <input type="submit" name="submit" value="Submit" />
            </form>
        </div>
    {% endif %}

    <br>
    <div>
        <a href="{{ subscribe_url }}">  {{ subscribe_option }} </a>
    </div>



</body>
</html>